<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rick and Morty - wiki</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/details.css">
  </head>
  <body class="bg-black d-flex justify-content-center align-items-center m-0 p-4 vw-100 vh-100 flex-column">

    <nav id="nav-logo" class="d-flex justify-content-center">
      <img src="../src/images/logo.png" alt="logo">
      <!-- <img src="./src/images/rick.png" alt="logo"> -->
    </nav>

    <main id="card-container" class="d-flex justify-content-around align-items-center flex-wrap w-auto m-lg-auto">
      <!-- CARDS -->
    </main>

    <a href="http://" target="_blank" rel="noopener noreferrer"></a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script type="module" src="../src/details.js"></script>
  </body>
</html>