* {
  box-sizing: border-box;
}

nav {
  img {
    height: 5rem;
    object-fit: contain !important;
  }
}

#card-container {
  .card {
    div.div-img {
      img {
        object-fit: cover !important;
      }
    }
  }
}